* {
  box-sizing: border-box;
}


.red-box {
  width: 640px;
  height: 732px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-box {
  width: 200px;
  height: 200px;
  background: blue;
}
